{{ partial "head.html" . }}
  <body>
    <header role="banner">{{ partial "header.html" . }}</header>
    <nav role="navigation">{{ partial "navigation.html" . }}</nav>

    <div id="main">
      <div id="content">
        <div>
          
          <article class="hentry" role="article">
          <header>
            <h1 class="entry-title">{{ .Title }}</h1>
            <p class="meta">
            <time datetime="{{dateFormat "2006-01-02T15:04:05Z07:00"  .Date }}" pubdate data-updated="true">{{ dateFormat "Jan 2, 2006"  .Date }} </time>
        
            | <a href="https://radio-t.com{{.RelPermalink}}#disqus_thread">Comments</a>
            </p>
          </header>

          <div class="entry-content">
            {{ .Content  }}
          </div>
           <footer>
    <p class="meta">
      <span class="byline author vcard"> <span class="fn">{{ .Site.Params.author }}</span></span>
      <time datetime="{{dateFormat "2006-01-02T15:04:05Z07:00"  .Date }}" pubdate data-updated="true">{{ dateFormat "Jan 2, 2006"  .Date }} </time>
      
      <span class="categories"><a class="category" href="/categories/{{.Params.categories }}/">{{.Params.categories }}</a></span>
    </p>

<div class="sharing">
  {{ if .Site.Params.twitter_tweet_button }}
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ .Site.BaseURL }}{{ .RelPermalink  }}" data-via="{{ .Site.Params.twitter_user }}" data-counturl="{{ .Site.BaseURL }}{{ .RelPermalink  }}" >Tweet</a>
  {{ end }}
  {{ if .Site.Params.google_plus_one }}
  <div class="g-plusone" data-size="{{ .Site.Params.google_plus_one }}"></div>
  {{ end }}
  {{ if .Site.Params.facebook_like }}
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
  {{ end }}
</div>  
    <p class="meta">
      {{ if .PrevInSection }}
        <a class="basic-alignment left" href="{{.PrevInSection.RelPermalink}}" title="Previous Post: {{.PrevInSection.Title}}">&laquo; {{.PrevInSection.Title}}</a>
      {{ end }}
      {{ if .NextInSection }}
        <a class="basic-alignment right" href="{{.NextInSection.RelPermalink}}" title="Next Post: {{.NextInSection.Title}}">{{.NextInSection.Title}} &raquo;</a>
      {{ end }}
    </p>
  </footer>
</article>

{{ if .Params.comments }}
  <section>
    <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></div>
  </section>
{{ end }}

        </div>
        {{ partial "aside.html" . }}
      </div>
    </div>

    <footer role="contentinfo">{{ partial "footer.html" . }}</footer>
  
    {{ partial "after_footer.html" . }}

  </body>
</html>