{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div id="main">
    <div id="content">
      <div>
		<article class="hentry" role="article">
			<header>
				<h1 class="entry-title">{{ .Title }}</h1>
				<!-- Twitter Card Stuff -->
      			<meta name="twitter:card" content="summary">
      			<meta name="twitter:site" content="@radio_t">
        
      			<meta name="twitter:url" content="{{ .Permalink }}">
      			<meta name="twitter:title" content="{{ .Title }}">
      			<meta name="twitter:description" content="Радио-Т подкаст, импровизации на хай-тек темы. Авторы и приглашенные гости импровизируют на околокомпьютерные темы. Как правило, не залезая в глубокие дебри, однако иногда нас заносит">
      
         		<meta name="twitter:image" content="{{ .Params.image }}">
      			<!-- End of Twitter Card Stuff -->

      			<p class="meta">
      				<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" pubdate data-updated="true">
          				{{ .Date.Format "Jan 2, 2006 " }} - TODO
      				</time>
        		|
          			<a href="#disqus_thread">Comments</a>
        
      			</p>
  			</header>
  			<div class="entry-content">
  				{{ with .Params.image }}
  					<p><img src="{{ . }}" alt="" /></p>
  				{{ end }}
  				{{ .Content }}

  				{{ with .Params.audio }}
				<p><a href="{{ . }}">аудио</a> 
				{{ end }}
				{{ with .Params.logs}}
				● <a href="{{ . }}">лог чата</a>
				{{ end }}
				{{ with .Params.audio }}
				<audio src="{{ . }}" preload="none"></audio></p>
				{{ end }}

  			</div>


  <footer>
    <p class="meta">
		<span class="byline author vcard"> <span class="fn">podcast@radio-t.com</span></span>
		<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" pubdate data-updated="true">
    		{{ .Date.Format "Jan 2, 2006 " }} - TODO
    	</time>

		<span class="categories">
    		<a class='category' href='/categories/podcast/'>podcast - TODO</a>
		</span>


    </p>
    
      <div class="sharing">
  
  		<a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ .Permalink }}" data-via="radio_t" data-counturl="{{ .Permalink }}" >Tweet</a>
  
  
  		<div class="g-plusone" data-size="medium"></div>
  
  
		</div>



    
    <p class="meta">

    	{{ if .Next }}
      		<a class="basic-alignment letf" href="{{ .Next.Permalink }}" title="Next Post: {{ .Next.Title }}">&laquo; {{ .Next.Title }}</a>
      	{{ end }}

    	{{ if .Prev }}
      		<a class="basic-alignment right" href="{{ .Prev.Permalink }}" title="Previous Post: {{ .Prev.Title }}">{{ .Prev.Title }} &raquo;</a>
      	{{ end }}
      
        
      
    </p>
  </footer>
</article>


<section>

<br/>
    <!-- <h2>комментарии</h2> -->
    <div id="disqus_thread" aria-live="polite">Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</div>
  </section>



<!--
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
-->

{{ partial "sidebar.html" . }}

    </div>
  </div>


{{ partial "footer.html" . }}

